.Panel_c1 {
  background: var(--primary-color);
  width: 500px;
  height: 500px;
  top: 50px;
  left: -50px;
}
.Panel_c2 {
  background: var(--secondary-color);
  width: 400px;
  height: 400px;
  top: -50px;
  right: -50px;
}
