.Panel_c1 {
  background: var(--primary-color);
  width: 300px;
  height: 300px;
  left: 50px;
  top: 50px;
}
.Panel_c2 {
  background: var(--secondary-color);
  width: 200px;
  height: 200px;
  left: 350px;
  top: 50px;
}
