.App {
  padding: 10px 0;
  width: 100%;
  display: flex;

  flex-wrap: wrap;
  gap: var(--gap);
  justify-content: center;
}

.App > div {
  width: 600px;
  height: 800px;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}
